*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

header{
  height: 500px;
  background-color: #0d325a;
  position: relative;
  background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 60%;
}
.container{
  width: 80%;
  height: 500px;
  margin: auto;
}

nav{
  width: 100%;
  height: 50px;
  margin: auto;
  clear: both;
  content: '';
  display: table;
}

.logo{
  float: left;
  margin-top: 25px;
}
ul{
  list-style-type: none;
}

.header_1{
  display: inline-block;
  margin-top: 25px;
  height: 50px;
  padding-top: 13px;
  margin-left: 50px;
}

.header_1 ul li{
  float: left;
  display: inline-block;
  margin-right: 5px;

}

.header_1 ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

.header_1 ul li a:hover{
  color: orange;
}

.header_2{
  float: right;
  margin-top: 25px;
  height: 50px;
  padding-top: 13px;

}

.header_2 a{
  color: lightgrey;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

.header_2 button{
  font-size: 12px;
  font-weight: bold;
}

button{
  text-transform: uppercase;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.button_login{
  border-color: lightblue;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  margin-left: 4px;
  margin-right: 15px;
}

.buttom_struttura{
  background-color: #7BBC00;
  border: 1px solid #7BBC00;
}

/* .img_header{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 930px;
} */

.section_header{
  top: calc((100% - 192px)/2);
  position: absolute;
}

.section_header p{
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
  width: 70%;
}

section .buttom_struttura{
  padding: 12px 24px;
}

.section_introduzione{
  background-color: #f9f9f9;
  text-align: center;
  padding: 30px;
}

section .intro1{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}

section .intro2{
  font-size: 18px;
  font-weight: 300;
  color: #999;
}

.ul_colonne{
  width: 80%;
  display: inline-block;
  margin: auto;
}

.section_colonne{
  text-align: center;
}

.section_colonne ul li{
  display: inline-block;
  width: 33%;
  float: left;
  padding:0 15px;
}

.colonna1 img, .colonna2 img, .colonna3 img{
  height: 160px;
}

hr{
  width: 30px;
  text-align: center;
  height: 0;
  background-color: lightgrey;
  border-width: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  position: relative;
}

.img_colonna{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.colonna1, .colonna2, .colonna3{
  text-align: center;
}

.colonna1 h3, .colonna2 h3, .colonna3 h3{
  font-size: 23px;
  color: #7fb802;
  margin-bottom: 20px;
  height: 50px;
}

.colonna1 p, .colonna2 p, .colonna3 p{
  color: #999;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

#help{
  position: fixed;
  right: 150px;
  bottom: 0;
  background-color: rgb(123, 188, 0);
  padding: 8px 10px 21px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid rgb(123, 188, 0);
  bottom: -12px;
  font-weight: 300;
}

#help:hover{
  bottom: -7px;
}
